p{
  color: #0D161D;
}
.cl-font-pink{
  color: #F1416C;
}
.cl-font-green{
  color: #20D489;
}
.cl-font-yellow{
  color: #FFC700;
}
.cl-font-weight-500{
  font-weight: 500;
}

.cl-gray-text{
  color: #867979;
}
